In [ ]:
import pandas as pd

In [ ]:
mat_datar = pd.read_excel("/content/drive/MyDrive/amex/6655877834f04_matchlevel_round1.xlsx").convert_dtypes()
print(mat_datar.describe())
mat_datar.info()
mat_datar.head()

             match id  win amount    ground_id  inning1_runs  inning1_wickets  \
count          1738.0      1738.0       1738.0        1738.0           1738.0
mean   9092208.898159   20.739931   7659.46893    161.245109         6.572382
min         8587795.0         1.0         83.0          40.0              0.0
25%        8778707.75         6.0       1637.0         140.0              5.0
50%         9084707.5         8.0       5004.0         162.0              7.0
75%         9344446.0        26.0      13530.0         183.0              8.0
max         9887856.0       191.0      25479.0         273.0             11.0
std     315341.022071   26.826147  7121.647493     35.278133         2.098734

       inning1_balls  inning2_runs  inning2_wickets  inning2_balls  \
count         1738.0        1738.0           1738.0         1738.0
mean      144.094937    143.970081         6.049597     134.381473
min             30.0          15.0              0.0           22.0
25%            120.0         123.0              4.0          105.0
50%            120.0         145.0              6.0          118.0
75%            120.0         167.0              9.0          120.0
max           9679.0         259.0             11.0         8787.0
std       353.186372     33.231957         2.887717       335.8812

           team1_id      team2_id            ingestion_timestamp
count        1656.0        1662.0                           1738
mean   20384.842995  20400.643201  2022-12-18 22:57:59.855764992
min            20.0          20.0     2022-02-03 18:34:02.995000
25%          7608.0        7573.0            2022-02-18 03:12:45
50%         15413.0       15301.0  2023-02-24 19:32:10.995000064
75%         33956.0       33963.0     2024-02-23 15:53:36.500000
max         49657.0       49657.0            2024-02-25 06:12:58
std    16348.871022  16297.745655                            NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1738 entries, 0 to 1737
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   match id             1738 non-null   Int64
 1   team1                1738 non-null   string
 2   team2                1738 non-null   string
 3   outcome              1738 non-null   string
 4   winner               1738 non-null   string
 5   by                   1686 non-null   string
 6   win amount           1738 non-null   Int64
 7   player of match      1249 non-null   string
 8   toss winner          1738 non-null   string
 9   toss decision        1738 non-null   string
 10  match type           1738 non-null   string
 11  venue                1738 non-null   string
 12  city                 1554 non-null   string
 13  match_dt             1738 non-null   string
 14  lighting             1738 non-null   string
 15  series_name          1738 non-null   string
 16  season               1738 non-null   string
 17  ground_id            1738 non-null   Int64
 18  umpire1              1552 non-null   string
 19  umpire2              1552 non-null   string
 20  inning1_runs         1738 non-null   Int64
 21  inning1_wickets      1738 non-null   Float64
 22  inning1_balls        1738 non-null   Int64
 23  inning2_runs         1738 non-null   Int64
 24  inning2_wickets      1738 non-null   Float64
 25  inning2_balls        1738 non-null   Int64
 26  team1_id             1656 non-null   Int64
 27  team1_roster_names   1738 non-null   string
 28  team1_roster_ids     1656 non-null   string
 29  team2_id             1662 non-null   Int64
 30  team2_roster_names   1738 non-null   string
 31  team2_roster_ids     1662 non-null   string
 32  ingestion_timestamp  1738 non-null   datetime64[ns]
dtypes: Float64(2), Int64(9), datetime64[ns](1), string(21)
memory usage: 466.9 KB

,match id,team1,team2,outcome,winner,by,win amount,player of match,toss winner,toss decision,...,inning2_runs,inning2_wickets,inning2_balls,team1_id,team1_roster_names,team1_roster_ids,team2_id,team2_roster_names,team2_roster_ids,ingestion_timestamp
0,8587795,Ae Ss,Me Rs,normal,Me Rs,wickets,6,Md Ni,Ae Ss,bat,...,178,4.0,120,33914,MT Rw:PD St:AT Cy:J Wd:RJ Gn:JW Ws:Rd Kn:DR Bs...,5056134.0:4685568.0:2285051.0:5469008.0:577649...,33942,MW Hy:AJ Fh:SB Hr:Md Ni:JA Pe:J Fk:BJ Wr:Id Wm...,7534687.0:37351.0:5406540.0:181404.0:6842170.0...,2022-02-18 03:12:45
1,8587802,Ht Hs,Sy Ss,normal,Ht Hs,runs,7,MS We,Sy Ss,field,...,181,8.0,120,33928,MS We:DM St:BR Mt:DJ Mn:WG Js:TH Dd:NT Es:NP W...,1611364.0:2161599.0:4223883.0:1655436.0:628285...,33956,JR Pe:JM Ve:DP Hs:MC Hs:JC Sk:DT Cn:CR Be:SA A...,7869987.0:2076192.0:4002340.0:41740.0:3063696....,2022-02-18 03:12:45
2,8587816,Ph Ss,Sy Ss,normal,Ph Ss,<NA>,86,MR Mh,Sy Ss,field,...,97,10.0,100,33935,JJ Ry:LS Le:C Mo:JP Is:MR Mh:AJ Tr:AM He:JA Rn...,2089079.0:2827327.0:1626526.0:4635658.0:190716...,33956,JR Pe:J Es:JM Ve:DP Hs:JC Sk:DT Cn:CR Be:SJ Oe...,7869987.0:7620283.0:2076192.0:4002340.0:306369...,2022-02-18 03:12:45
3,8587837,Sy Ss,Be Ht,normal,Be Ht,wickets,4,MT Se,Sy Ss,bat,...,171,6.0,119,33956,JR Pe:J Es:JM Ve:DP Hs:JC Sk:DT Cn:CR Be:BJ Ds...,7869987.0:7620283.0:2076192.0:4002340.0:306369...,33921,M Bt:JA Bs:JL Dy:SD Ht:JJ Pn:L Gy:JJ By:JD Wh:...,7620269.0:2286437.0:87191.0:5786766.0:3114803....,2022-02-18 03:12:45
4,8587844,Ae Ss,Me Rs,normal,Ae Ss,runs,60,RJ Gn,Ae Ss,bat,...,111,10.0,116,33914,MT Rw:PD St:AT Cy:JW Ws:RJ Gn:J Wd:Rd Kn:DR Bs...,5056134.0:4685568.0:2285051.0:1635773.0:577649...,33942,AJ Fh:MW Hy:SB Hr:Md Ni:BJ Wr:Id Wm:J Fk:JA Pe...,37351.0:7534687.0:5406540.0:181404.0:2669316.0...,2022-02-18 03:12:45

In [ ]:
mat_sort = mat_datar.sort_values(by=['ingestion_timestamp'], ascending=False)
mat_data = mat_sort.drop_duplicates(subset='match id')
mat_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1688 entries, 1737 to 519
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   match id             1688 non-null   Int64
 1   team1                1688 non-null   string
 2   team2                1688 non-null   string
 3   outcome              1688 non-null   string
 4   winner               1688 non-null   string
 5   by                   1638 non-null   string
 6   win amount           1688 non-null   Int64
 7   player of match      1219 non-null   string
 8   toss winner          1688 non-null   string
 9   toss decision        1688 non-null   string
 10  match type           1688 non-null   string
 11  venue                1688 non-null   string
 12  city                 1510 non-null   string
 13  match_dt             1688 non-null   string
 14  lighting             1688 non-null   string
 15  series_name          1688 non-null   string
 16  season               1688 non-null   string
 17  ground_id            1688 non-null   Int64
 18  umpire1              1507 non-null   string
 19  umpire2              1507 non-null   string
 20  inning1_runs         1688 non-null   Int64
 21  inning1_wickets      1688 non-null   Float64
 22  inning1_balls        1688 non-null   Int64
 23  inning2_runs         1688 non-null   Int64
 24  inning2_wickets      1688 non-null   Float64
 25  inning2_balls        1688 non-null   Int64
 26  team1_id             1607 non-null   Int64
 27  team1_roster_names   1688 non-null   string
 28  team1_roster_ids     1607 non-null   string
 29  team2_id             1613 non-null   Int64
 30  team2_roster_names   1688 non-null   string
 31  team2_roster_ids     1613 non-null   string
 32  ingestion_timestamp  1688 non-null   datetime64[ns]
dtypes: Float64(2), Int64(9), datetime64[ns](1), string(21)
memory usage: 466.5 KB

In [ ]:
for index, row in mat_data[mat_data['by'].isnull()].iterrows():
    if row['winner'] == row['team1']:
        if row['toss winner'] == row['team1']:
            if row['toss decision'] == 'bat':
                mat_data.at[index, 'by'] = 'runs'
            else:
                mat_data.at[index, 'by'] = 'wickets'
        else:
            if row['toss decision'] == 'bat':
                mat_data.at[index, 'by'] = 'wickets'
            else:
                mat_data.at[index, 'by'] = 'runs'
    else:
        if row['toss winner'] == row['team2']:
            if row['toss decision'] == 'bat':
                mat_data.at[index, 'by'] = 'runs'
            else:
                mat_data.at[index, 'by'] = 'wickets'
        else:
            if row['toss decision'] == 'bat':
                mat_data.at[index, 'by'] = 'wickets'
            else:
                mat_data.at[index, 'by'] = 'runs'

In [ ]:
mat_data.loc[mat_data['match id'] == 8587816]['season']

2    2020/21
Name: season, dtype: string

In [ ]:
date_parts = mat_data['match_dt'].str.split("-")
mat_data['match_dt'] = (date_parts.str[1] + '/' + date_parts.str[2] + '/' + date_parts.str[0]).astype(str)
mat_data['season'] = date_parts.str[0].astype(str)

<ipython-input-20-86c07b17b05c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mat_data['match_dt'] = (date_parts.str[1] + '/' + date_parts.str[2] + '/' + date_parts.str[0]).astype(str)
<ipython-input-20-86c07b17b05c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mat_data['season'] = date_parts.str[0].astype(str)

In [ ]:
mat_data['inning1_wickets'] = round(mat_data['inning1_wickets'].astype(float)).astype('Int64')
mat_data['inning2_wickets'] = round(mat_data['inning2_wickets'].astype(float)).astype('Int64')
mat_data.loc[mat_data['inning1_wickets'] > 10, 'inning1_wickets'] = round(mat_data.loc[mat_data['inning1_wickets'] <= 10, 'inning1_wickets'].mean())
mat_data.loc[mat_data['inning2_wickets'] > 10, 'inning2_wickets'] = round(mat_data.loc[mat_data['inning2_wickets'] <= 10, 'inning2_wickets'].mean())
mat_data.loc[mat_data['inning1_balls'] > 120, 'inning1_balls'] = round(mat_data.loc[mat_data['inning1_balls'] <= 120, 'inning1_balls'].mean())
mat_data.loc[mat_data['inning2_balls'] > 120, 'inning2_balls'] = round(mat_data.loc[mat_data['inning2_balls'] <= 120, 'inning2_balls'].mean())
mat_data.describe()

<ipython-input-26-bf39eca5c507>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mat_data['inning1_wickets'] = round(mat_data['inning1_wickets'].astype(float)).astype('Int64')
<ipython-input-26-bf39eca5c507>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mat_data['inning2_wickets'] = round(mat_data['inning2_wickets'].astype(float)).astype('Int64')

,match id,win amount,ground_id,inning1_runs,inning1_wickets,inning1_balls,inning2_runs,inning2_wickets,inning2_balls,team1_id,team2_id,ingestion_timestamp
count,1688.0,1688.0,1688.0,1688.0,1688.0,1688.0,1688.0,1688.0,1688.0,1607.0,1613.0,1688
mean,9090419.292654,20.959123,7700.215047,161.295616,6.567536,117.637441,143.78436,6.045616,109.330569,20456.711263,20486.971482,2022-12-17 19:53:59.789371904
min,8587795.0,1.0,83.0,40.0,0.0,30.0,15.0,0.0,22.0,20.0,20.0,2022-02-18 03:12:45
25%,8778683.25,6.0,1637.0,140.0,5.0,120.0,123.0,4.0,105.0,7608.0,7573.0,2022-02-18 03:12:45
50%,9084644.5,8.0,5004.0,162.5,7.0,120.0,145.0,6.0,117.0,15413.0,15413.0,2023-02-24 19:32:10.995000064
75%,9344412.75,26.0,13530.0,183.0,8.0,120.0,166.0,9.0,120.0,33956.0,33963.0,2024-02-25 06:12:58
max,9887856.0,191.0,25479.0,273.0,10.0,120.0,259.0,10.0,120.0,49657.0,49657.0,2024-02-25 06:12:58
std,314852.810522,27.104424,7141.876371,35.432843,2.104882,8.871209,33.365195,2.891179,16.444975,16347.812515,16307.379367,NaN

In [ ]:
excel_file_path = '/content/drive/My Drive/newMatches.xlsx'
mat_data.to_excel(excel_file_path, index=False)

In [ ]:
bow_data = pd.read_excel("/content/drive/MyDrive/newBowlers.xlsx").convert_dtypes()
bow_data.head()

,match id,bowler,bowler_id,bowler_dob,bowler_details,is_bowler_captain,is_bowler_keeper,inning,runs,wicket_count,balls_bowled,economy,maiden,dots,Fours,Sixes,wides,noballs,match_dt,ingestion_timestamp
0,9272542,AJ Te,3216569,12/12/1986,AUS:Right-hand bat:Right-arm medium-fast:,0,0,1,32,3,24,8.0,0,10,1,2,0,0,01/01/2023,2024-03-14 17:12:37.000
1,9272549,BJ Ds,4756982,06/23/1994,AUS:Left-hand bat:Left-arm fast-medium:,0,0,1,55,1,24,13.75,0,8,6,3,2,0,01/01/2023,2024-03-14 17:12:37.000
2,9272542,AJ Hn,3715697,04/25/1993,WI:Left-hand bat:Slow left-arm orthodox:,0,0,2,28,0,24,7.0,0,7,1,1,0,0,01/01/2023,2024-03-14 17:12:37.000
3,9272542,AM He,7869994,01/07/1999,AUS:Right-hand bat:Right-arm medium-fast:,0,0,1,39,0,24,9.75,0,9,3,2,0,0,01/01/2023,2024-03-14 17:12:37.000
4,9489374,BA Ce,4174932,07/31/1995,ENG:Right-hand bat:Right-arm fast:,0,0,1,36,1,20,10.8,0,10,5,2,1,0,08/13/2023,2024-03-14 17:12:36.995

In [ ]:
merged_df = pd.merge(bow_data, mat_data, on='match id')
filtered_df = merged_df[merged_df['wicket_count'] >= 1]
venue_counts = filtered_df.groupby('bowler_id')['ground_id'].nunique()
max_venues = venue_counts.max()
print(max_venues)
# Step 5: Find all bowlers with the maximum number of unique venues
bowlers_with_max_venues = venue_counts[venue_counts == max_venues].index.tolist()
print("Bowlers with the most unique venues:", bowlers_with_max_venues)

37
Bowlers with the most unique venues: [5554254]

In [ ]:
total_wickets = filtered_df.groupby('bowler_id')['wicket_count'].sum()
print(total_wickets[5554254])

174