In [ ]:
import pandas as pd

In [ ]:
!pip install gspread_pandas
from google.colab import auth
auth.authenticate_user()
import gspread_pandas
from google.auth import default
import pandas as pd
creds, _ = default()

Requirement already satisfied: gspread_pandas in /usr/local/lib/python3.10/dist-packages (3.3.0)
Requirement already satisfied: gspread<6,>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from gspread_pandas) (5.12.4)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from gspread_pandas) (2.0.3)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from gspread_pandas) (4.4.2)
Requirement already satisfied: google-auth in /usr/local/lib/python3.10/dist-packages (from gspread_pandas) (2.27.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.10/dist-packages (from gspread_pandas) (1.2.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth->gspread_pandas) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth->gspread_pandas) (0.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth->gspread_pandas) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib->gspread_pandas) (1.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->gspread_pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->gspread_pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->gspread_pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->gspread_pandas) (1.25.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth->gspread_pandas) (0.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.20.0->gspread_pandas) (1.16.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2024.2.2)

In [ ]:
bat_datar = pd.read_excel("/content/drive/MyDrive/amex/6655876402143_batsman_round1.xlsx").convert_dtypes()
bat_datar.describe()

,match id,batsman_id,is_batsman_captain,is_batsman_keeper,inning,runs,balls_faced,over_faced_first,bowler_id,is_bowler_keeper,is_bowler_captain,strike_rate,Fours,Sixes,ingestion_timestamp
count,24925.0,24925.0,24925.0,24925.0,24925.0,24875.0,24925.0,24925.0,18407.0,18994.0,18407.0,24825.0,14443.0,9207.0,24925
mean,9100178.487302,4102961.924213,0.113942,0.114022,1.486419,18.290734,14.132598,9.1201,4332272.681263,0.0,0.056337,110.420313,2.743571,1.944998,2023-01-28 13:52:15.536143616
min,8587795.0,31464.0,0.0,0.0,1.0,0.0,0.0,-18.3,34061.0,0.0,0.0,0.0,1.0,1.0,2022-03-13 18:43:20
25%,8778818.0,2231928.0,0.0,0.0,1.0,3.0,4.0,2.1,2537800.0,0.0,0.0,65.0,1.0,1.0,2022-03-22 12:43:21
50%,9085047.0,3706065.0,0.0,0.0,1.0,11.0,10.0,8.4,3882850.0,0.0,0.0,108.33,2.0,1.0,2023-03-10 21:21:02.995000064
75%,9388448.0,6003584.0,0.0,0.0,2.0,27.0,20.0,15.4,6347256.0,0.0,0.0,150.0,4.0,2.0,2024-03-26 03:41:36
max,9887856.0,9899140.0,1.0,1.0,2.0,162.0,75.0,20.9,9888584.0,0.0,1.0,600.0,22.0,13.0,2024-03-26 03:41:36
std,313392.058237,2421647.697952,0.317747,0.317844,0.499826,20.240725,12.767458,6.823218,2362044.330033,0.0,0.230578,69.044249,2.162849,1.388797,NaN

In [ ]:
bat_datar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24925 entries, 0 to 24924
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   match id             24925 non-null  Int64
 1   batsman              24925 non-null  string
 2   batsman_id           24925 non-null  Int64
 3   batsman_dob          24925 non-null  object
 4   batsman_details      24925 non-null  string
 5   is_batsman_captain   24925 non-null  Int64
 6   is_batsman_keeper    24925 non-null  Int64
 7   inning               24925 non-null  Int64
 8   runs                 24875 non-null  Int64
 9   balls_faced          24925 non-null  Int64
 10  over_faced_first     24925 non-null  Float64
 11  wicket kind          19455 non-null  string
 12  out_by_bowler        19455 non-null  string
 13  out_by_fielder       13975 non-null  string
 14  bowler_id            18407 non-null  Int64
 15  bowler_dob           18407 non-null  string
 16  bowler_details       18407 non-null  string
 17  is_bowler_keeper     18994 non-null  Int64
 18  is_bowler_captain    18407 non-null  Int64
 19  strike_rate          24825 non-null  Float64
 20  Fours                14443 non-null  Float64
 21  Sixes                9207 non-null   Float64
 22  match_dt             24925 non-null  string
 23  ingestion_timestamp  24925 non-null  datetime64[ns]
dtypes: Float64(4), Int64(10), datetime64[ns](1), object(1), string(8)
memory usage: 4.9+ MB

In [ ]:
bat_sort = bat_datar.sort_values(by=['ingestion_timestamp'], ascending=False)
bat_data = bat_sort.drop_duplicates(subset=['match id', 'batsman_id'])

In [ ]:
print(bat_data.info())
bat_data.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 24875 entries, 12462 to 13878
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   match id             24875 non-null  Int64
 1   batsman              24875 non-null  string
 2   batsman_id           24875 non-null  Int64
 3   batsman_dob          24875 non-null  object
 4   batsman_details      24875 non-null  string
 5   is_batsman_captain   24875 non-null  Int64
 6   is_batsman_keeper    24875 non-null  Int64
 7   inning               24875 non-null  Int64
 8   runs                 24825 non-null  Int64
 9   balls_faced          24875 non-null  Int64
 10  over_faced_first     24875 non-null  Float64
 11  wicket kind          19414 non-null  string
 12  out_by_bowler        19414 non-null  string
 13  out_by_fielder       13948 non-null  string
 14  bowler_id            18368 non-null  Int64
 15  bowler_dob           18368 non-null  string
 16  bowler_details       18368 non-null  string
 17  is_bowler_keeper     18953 non-null  Int64
 18  is_bowler_captain    18368 non-null  Int64
 19  strike_rate          24775 non-null  Float64
 20  Fours                14411 non-null  Float64
 21  Sixes                9191 non-null   Float64
 22  match_dt             24875 non-null  string
 23  ingestion_timestamp  24875 non-null  datetime64[ns]
dtypes: Float64(4), Int64(10), datetime64[ns](1), object(1), string(8)
memory usage: 5.1+ MB
None

,match id,batsman_id,is_batsman_captain,is_batsman_keeper,inning,runs,balls_faced,over_faced_first,bowler_id,is_bowler_keeper,is_bowler_captain,strike_rate,Fours,Sixes,ingestion_timestamp
count,24875.0,24875.0,24875.0,24875.0,24875.0,24825.0,24875.0,24875.0,18368.0,18953.0,18368.0,24775.0,14411.0,9191.0,24875
mean,9100156.528,4102710.123176,0.113889,0.11397,1.486312,18.288459,14.129447,9.120901,4332079.693598,0.0,0.056348,110.406396,2.743696,1.945011,2023-01-28 13:17:16.793583104
min,8587795.0,31464.0,0.0,0.0,1.0,0.0,0.0,-18.3,34061.0,0.0,0.0,0.0,1.0,1.0,2022-03-22 12:43:21
25%,8778818.0,2231928.0,0.0,0.0,1.0,3.0,4.0,2.1,2537800.0,0.0,0.0,65.0,1.0,1.0,2022-03-22 12:43:21
50%,9085047.0,3706065.0,0.0,0.0,1.0,11.0,10.0,8.4,3882850.0,0.0,0.0,108.33,2.0,1.0,2023-03-10 21:21:02.995000064
75%,9388448.0,6003584.0,0.0,0.0,2.0,27.0,20.0,15.4,6347256.0,0.0,0.0,150.0,4.0,2.0,2024-03-26 03:41:36
max,9887856.0,9899140.0,1.0,1.0,2.0,162.0,75.0,20.9,9888584.0,0.0,1.0,600.0,22.0,13.0,2024-03-26 03:41:36
std,313392.642151,2421528.438688,0.317683,0.317781,0.499823,20.245573,12.767043,6.823606,2362008.124338,0.0,0.230599,69.031519,2.163887,1.388794,NaN

In [ ]:
bat_data.loc[bat_data['runs'].isnull() & bat_data['balls_faced'].isnull()]

Empty DataFrame
Columns: [match id, batsman, batsman_id, batsman_dob, batsman_details, is_batsman_captain, is_batsman_keeper, inning, runs, balls_faced, over_faced_first, wicket kind, out_by_bowler, out_by_fielder, bowler_id, bowler_dob, bowler_details, is_bowler_keeper, is_bowler_captain, strike_rate, Fours, Sixes, match_dt, ingestion_timestamp]
Index: []

[0 rows x 24 columns]

In [ ]:
bat_data.loc[bat_data['runs'].isnull(), 'runs'] = round(bat_data['strike_rate']*bat_data['balls_faced']/100.0)
bat_data.loc[bat_data['strike_rate'].isnull(),'strike_rate'] = (bat_data['runs']*100.0/bat_data['balls_faced']).astype('Float64')
bat_data.loc[bat_data['Fours'].isnull(),'Fours'] = 0
bat_data.loc[bat_data['Sixes'].isnull(),'Sixes'] = 0

In [ ]:
bat_data.loc[bat_data['over_faced_first'] < 0, 'over_faced_first'] = bat_data.loc[bat_data['over_faced_first'] >= 0, 'over_faced_first'].mean()

In [ ]:
bat_data['Fours'] = round(bat_data['Fours']).astype('Int64')
bat_data['Sixes'] = round(bat_data['Sixes']).astype('Int64')

<ipython-input-53-d35395619b63>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat_data['Fours'] = round(bat_data['Fours']).astype('Int64')
<ipython-input-53-d35395619b63>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat_data['Sixes'] = round(bat_data['Sixes']).astype('Int64')

In [ ]:
date_parts = bat_data['batsman_dob'].str.split("-")
bat_data['batsman_dob'] = (date_parts.str[1] + '/' + date_parts.str[2] + '/' + date_parts.str[0]).astype(str)
date_parts = bat_data['bowler_dob'].str.split("-")
bat_data['bowler_dob'] = (date_parts.str[1] + '/' + date_parts.str[2] + '/' + date_parts.str[0]).astype(str)
date_parts = bat_data['match_dt'].str.split("-")
bat_data['match_dt'] = (date_parts.str[1] + '/' + date_parts.str[2] + '/' + date_parts.str[0]).astype(str)

<ipython-input-54-262690a59429>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat_data['batsman_dob'] = (date_parts.str[1] + '/' + date_parts.str[2] + '/' + date_parts.str[0]).astype(str)
<ipython-input-54-262690a59429>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat_data['bowler_dob'] = (date_parts.str[1] + '/' + date_parts.str[2] + '/' + date_parts.str[0]).astype(str)
<ipython-input-54-262690a59429>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat_data['match_dt'] = (date_parts.str[1] + '/' + date_parts.str[2] + '/' + date_parts.str[0]).astype(str)

In [ ]:
print(bat_data.info())
print(bat_data.describe())
bat_data.head()

<class 'pandas.core.frame.DataFrame'>
Index: 24875 entries, 12462 to 13878
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   match id             24875 non-null  Int64
 1   batsman              24875 non-null  string
 2   batsman_id           24875 non-null  Int64
 3   batsman_dob          24875 non-null  object
 4   batsman_details      24875 non-null  string
 5   is_batsman_captain   24875 non-null  Int64
 6   is_batsman_keeper    24875 non-null  Int64
 7   inning               24875 non-null  Int64
 8   runs                 24875 non-null  Int64
 9   balls_faced          24875 non-null  Int64
 10  over_faced_first     24875 non-null  Float64
 11  wicket kind          19414 non-null  string
 12  out_by_bowler        19414 non-null  string
 13  out_by_fielder       13948 non-null  string
 14  bowler_id            18368 non-null  Int64
 15  bowler_dob           24875 non-null  object
 16  bowler_details       18368 non-null  string
 17  is_bowler_keeper     18953 non-null  Int64
 18  is_bowler_captain    18368 non-null  Int64
 19  strike_rate          24875 non-null  Float64
 20  Fours                24875 non-null  Int64
 21  Sixes                24875 non-null  Int64
 22  match_dt             24875 non-null  object
 23  ingestion_timestamp  24875 non-null  datetime64[ns]
dtypes: Float64(2), Int64(12), datetime64[ns](1), object(3), string(6)
memory usage: 5.6+ MB
None
            match id      batsman_id  is_batsman_captain  is_batsman_keeper  \
count        24875.0         24875.0             24875.0            24875.0
mean     9100156.528  4102710.123176            0.113889            0.11397
min        8587795.0         31464.0                 0.0                0.0
25%        8778818.0       2231928.0                 0.0                0.0
50%        9085047.0       3706065.0                 0.0                0.0
75%        9388448.0       6003584.0                 0.0                0.0
max        9887856.0       9899140.0                 1.0                1.0
std    313392.642151  2421528.438688            0.317683           0.317781

         inning       runs  balls_faced  over_faced_first       bowler_id  \
count   24875.0    24875.0      24875.0           24875.0         18368.0
mean   1.486312  18.300302    14.129447          9.155722  4332079.693598
min         1.0        0.0          0.0               1.1         34061.0
25%         1.0        3.0          4.0               2.1       2537800.0
50%         1.0       11.0         10.0               8.5       3882850.0
75%         2.0       27.0         20.0              15.4       6347256.0
max         2.0      162.0         75.0              20.9       9888584.0
std    0.499823  20.258894    12.767043          6.774796  2362008.124338

       is_bowler_keeper  is_bowler_captain  strike_rate     Fours     Sixes  \
count           18953.0            18368.0      24875.0   24875.0   24875.0
mean                0.0           0.056348         <NA>  1.589467  0.718633
min                 0.0                0.0         <NA>       0.0       0.0
25%                 0.0                0.0         <NA>       0.0       0.0
50%                 0.0                0.0         <NA>       1.0       0.0
75%                 0.0                0.0         <NA>       2.0       1.0
max                 0.0                1.0         <NA>      22.0      13.0
std                 0.0           0.230599         <NA>  2.132309  1.262419

                 ingestion_timestamp
count                          24875
mean   2023-01-28 13:17:16.793583104
min              2022-03-22 12:43:21
25%              2022-03-22 12:43:21
50%    2023-03-10 21:21:02.995000064
75%              2024-03-26 03:41:36
max              2024-03-26 03:41:36
std                              NaN

,match id,batsman,batsman_id,batsman_dob,batsman_details,is_batsman_captain,is_batsman_keeper,inning,runs,balls_faced,...,bowler_id,bowler_dob,bowler_details,is_bowler_keeper,is_bowler_captain,strike_rate,Fours,Sixes,match_dt,ingestion_timestamp
12462,9684632,KS Bt,3706065,10/03/1993,IND:Right-hand bat:None:,1,1,1,1,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,50.0,0,0,10/23/2023,2024-03-26 03:41:36
13124,9725778,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,31,21,...,1907352,04/20/1990,AUS:Right-hand bat:Left-arm fast-medium:,0,0,147.62,2,1,12/03/2023,2024-03-26 03:41:36
13116,9516569,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,34,34,...,2282125,02/05/1990,IND:Right-hand bat:Right-arm medium:,0,0,100.0,4,0,04/24/2023,2024-03-26 03:41:36
13117,9516611,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,29,14,...,<NA>,<NA>,<NA>,<NA>,<NA>,207.14,1,2,04/29/2023,2024-03-26 03:41:36
13118,9516744,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,1,2,...,7453697,08/04/1999,IND:Right-hand bat:Legbreak googly:,0,0,50.0,0,0,05/13/2023,2024-03-26 03:41:36

In [ ]:
bat_data.loc[bat_data['bowler_dob'] == '<NA>', 'bowler_dob'] = None
excel_file_path = '/content/drive/My Drive/newBatters.xlsx'
bat_data.to_excel(excel_file_path, index=False)

In [ ]:
bat_data.loc[bat_data['bowler_dob'] == '<NA>', 'bowler_dob'] = None
bat_data.info()
bat_data.loc[bat_data['bowler_dob'] == '<NA>']

<class 'pandas.core.frame.DataFrame'>
Index: 24875 entries, 12462 to 13878
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   match id             24875 non-null  Int64
 1   batsman              24875 non-null  string
 2   batsman_id           24875 non-null  Int64
 3   batsman_dob          24875 non-null  object
 4   batsman_details      24875 non-null  string
 5   is_batsman_captain   24875 non-null  Int64
 6   is_batsman_keeper    24875 non-null  Int64
 7   inning               24875 non-null  Int64
 8   runs                 24875 non-null  Int64
 9   balls_faced          24875 non-null  Int64
 10  over_faced_first     24875 non-null  Float64
 11  wicket kind          19414 non-null  string
 12  out_by_bowler        19414 non-null  string
 13  out_by_fielder       13948 non-null  string
 14  bowler_id            18368 non-null  Int64
 15  bowler_dob           18368 non-null  object
 16  bowler_details       18368 non-null  string
 17  is_bowler_keeper     18953 non-null  Int64
 18  is_bowler_captain    18368 non-null  Int64
 19  strike_rate          24875 non-null  Float64
 20  Fours                24875 non-null  Int64
 21  Sixes                24875 non-null  Int64
 22  match_dt             24875 non-null  object
 23  ingestion_timestamp  24875 non-null  datetime64[ns]
dtypes: Float64(2), Int64(12), datetime64[ns](1), object(3), string(6)
memory usage: 5.6+ MB

Empty DataFrame
Columns: [match id, batsman, batsman_id, batsman_dob, batsman_details, is_batsman_captain, is_batsman_keeper, inning, runs, balls_faced, over_faced_first, wicket kind, out_by_bowler, out_by_fielder, bowler_id, bowler_dob, bowler_details, is_bowler_keeper, is_bowler_captain, strike_rate, Fours, Sixes, match_dt, ingestion_timestamp]
Index: []

[0 rows x 24 columns]

In [ ]:
ducks = bat_data.loc[bat_data['runs'] == 0 & (bat_data['wicket kind'].notnull()), 'batsman_id'].unique()
print(ducks)
bat_fil = bat_data[~bat_data['batsman_id'].isin(ducks)]
bat_fil.info()

<IntegerArray>
[3882850, 3872756, 3913440, 3913475, 3914658, 3890963, 3901099, 3793950,
 3834256, 3769555,
 ...
 1707628, 4001934, 4171383, 1648625, 4159644, 4164957, 4118309, 4169542,
 4169514, 4167946]
Length: 1091, dtype: Int64
<class 'pandas.core.frame.DataFrame'>
Index: 4379 entries, 13013 to 13856
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   match id             4379 non-null   Int64
 1   batsman              4379 non-null   string
 2   batsman_id           4379 non-null   Int64
 3   batsman_dob          4379 non-null   object
 4   batsman_details      4379 non-null   string
 5   is_batsman_captain   4379 non-null   Int64
 6   is_batsman_keeper    4379 non-null   Int64
 7   inning               4379 non-null   Int64
 8   runs                 4379 non-null   Int64
 9   balls_faced          4379 non-null   Int64
 10  over_faced_first     4379 non-null   Float64
 11  wicket kind          3266 non-null   string
 12  out_by_bowler        3266 non-null   string
 13  out_by_fielder       2299 non-null   string
 14  bowler_id            2968 non-null   Int64
 15  bowler_dob           2968 non-null   object
 16  bowler_details       2968 non-null   string
 17  is_bowler_keeper     3149 non-null   Int64
 18  is_bowler_captain    2968 non-null   Int64
 19  strike_rate          4379 non-null   Float64
 20  Fours                4379 non-null   Int64
 21  Sixes                4379 non-null   Int64
 22  match_dt             4379 non-null   object
 23  ingestion_timestamp  4379 non-null   datetime64[ns]
dtypes: Float64(2), Int64(12), datetime64[ns](1), object(3), string(6)
memory usage: 915.1+ KB

In [ ]:
bat_data.loc[bat_data['batsman_id'] == 3882850]

,match id,batsman,batsman_id,batsman_dob,batsman_details,is_batsman_captain,is_batsman_keeper,inning,runs,balls_faced,...,bowler_id,bowler_dob,bowler_details,is_bowler_keeper,is_bowler_captain,strike_rate,Fours,Sixes,match_dt,ingestion_timestamp
13124,9725778,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,31,21,...,1907352,04/20/1990,AUS:Right-hand bat:Left-arm fast-medium:,0,0,147.62,2,1,12/03/2023,2024-03-26 03:41:36.000
13116,9516569,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,34,34,...,2282125,02/05/1990,IND:Right-hand bat:Right-arm medium:,0,0,100.0,4,0,04/24/2023,2024-03-26 03:41:36.000
13117,9516611,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,29,14,...,<NA>,None,<NA>,<NA>,<NA>,207.14,1,2,04/29/2023,2024-03-26 03:41:36.000
13118,9516744,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,1,2,...,7453697,08/04/1999,IND:Right-hand bat:Legbreak googly:,0,0,50.0,0,0,05/13/2023,2024-03-26 03:41:36.000
13119,9516800,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,15,8,...,3130840,08/07/1992,IND:Right-hand bat:Right-arm medium:,0,0,187.5,1,1,05/20/2023,2024-03-26 03:41:36.000
13120,9668532,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,13,11,...,2740408,11/05/1991,WI:Right-hand bat:Right-arm medium-fast:,0,0,118.18,0,1,08/03/2023,2024-03-26 03:41:36.000
13121,9668560,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,13,10,...,2740408,11/05/1991,WI:Right-hand bat:Right-arm medium-fast:,0,0,130.0,0,1,08/13/2023,2024-03-26 03:41:36.000
13122,9725750,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,2,6,...,2790675,02/29/1992,AUS:Right-hand bat:Right-arm fast-medium:,0,0,33.33,0,0,11/23/2023,2024-03-26 03:41:36.000
13123,9725771,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,0,1,...,4756982,06/23/1994,AUS:Left-hand bat:Left-arm fast-medium:,0,0,0.0,0,0,12/01/2023,2024-03-26 03:41:36.000
13114,9516443,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,54,25,...,1907352,04/20/1990,AUS:Right-hand bat:Left-arm fast-medium:,0,0,216.0,4,5,04/11/2023,2024-03-26 03:41:36.000
13115,9516527,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,19,22,...,<NA>,None,<NA>,<NA>,<NA>,86.36,1,0,04/20/2023,2024-03-26 03:41:36.000
13113,9516408,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,2,6,...,3011735,07/23/1990,IND:Right-hand bat:Legbreak googly:,0,0,33.33,0,0,04/08/2023,2024-03-26 03:41:36.000
13112,9516380,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,36,22,...,3373285,09/03/1990,IND:Right-hand bat:Right-arm fast:,0,0,163.64,2,3,04/04/2023,2024-03-26 03:41:36.000
13109,9440493,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,31,20,...,<NA>,None,<NA>,<NA>,<NA>,155.0,3,1,01/03/2023,2024-03-26 03:41:36.000
13110,9440500,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,65,31,...,3061225,09/09/1991,SL:Right-hand bat:Right-arm medium:,0,1,209.68,3,6,01/05/2023,2024-03-26 03:41:36.000
13111,9516352,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,16,11,...,2461129,01/11/1990,ENG:Right-hand bat:Right-arm fast:,0,0,145.45,1,1,04/01/2023,2024-03-26 03:41:36.000
13108,9292569,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,9,8,...,1858961,07/30/1989,SA:Left-hand bat:Left-arm medium-fast:,0,0,112.5,1,0,10/04/2022,2023-03-10 21:21:02.995
13107,9292534,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,6,5,...,5788418,09/22/1994,AUS:Right-hand bat:Right-arm fast-medium:,0,0,120.0,1,0,09/20/2022,2023-03-10 21:21:02.995
13106,9225362,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,9,7,...,5744850,11/01/1996,WI:Right-hand bat:Right-arm fast-medium:,0,0,128.57,0,1,08/07/2022,2023-03-10 21:21:02.995
13105,9128783,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,17,20,...,<NA>,None,<NA>,<NA>,<NA>,85.0,2,0,05/16/2022,2023-03-10 21:21:02.995
13104,9128720,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,1,3,...,7879829,07/06/1996,IND:Left-hand bat:Left-arm medium:,0,0,33.33,0,0,05/08/2022,2023-03-10 21:21:02.995
13103,9128650,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,42,24,...,<NA>,None,<NA>,<NA>,<NA>,175.0,1,3,05/01/2022,2023-03-10 21:21:02.995
13102,9128622,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,24,17,...,<NA>,None,<NA>,<NA>,<NA>,141.18,2,1,04/28/2022,2023-03-10 21:21:02.995
13101,9128573,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,1,4,...,3011735,07/23/1990,IND:Right-hand bat:Legbreak googly:,0,0,25.0,0,0,04/22/2022,2023-03-10 21:21:02.995
13100,9128524,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,10,7,...,<NA>,None,<NA>,<NA>,<NA>,142.86,1,0,04/16/2022,2023-03-10 21:21:02.995
13099,9128349,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,38,17,...,<NA>,None,<NA>,<NA>,<NA>,223.53,2,3,03/27/2022,2023-03-10 21:21:02.995
13098,9123169,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,0,1,...,2550414,04/04/1990,IRE:Right-hand bat:Right-arm fast-medium:,0,0,0.0,0,0,06/28/2022,2023-03-10 21:21:02.995
13097,9087196,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,7,6,...,6486416,10/12/1999,BAN:Right-hand bat:Right-arm fast-medium:,0,0,116.67,1,0,11/02/2022,2023-03-10 21:21:02.995
13096,9087063,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,2,3,...,6460614,10/04/1998,PAK:Right-hand bat:Legbreak:,0,0,66.67,0,0,10/23/2022,2023-03-10 21:21:02.995
13095,8950843,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,8,4,...,<NA>,None,<NA>,<NA>,<NA>,200.0,1,0,06/17/2022,2023-03-10 21:21:02.995
13094,8950836,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,5,2,...,<NA>,None,<NA>,<NA>,<NA>,250.0,1,0,06/14/2022,2023-03-10 21:21:02.995
13093,8950829,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,10,11,...,3373866,11/16/1993,SA:Right-hand bat:Right-arm fast:,0,0,90.91,1,0,06/12/2022,2023-03-10 21:21:02.995
13090,8938341,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,17,12,...,4575878,10/24/1996,ENG:Right-hand bat:Legbreak:,0,0,141.67,3,0,07/07/2022,2023-03-10 21:21:02.995
13085,8778692,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,12,7,...,7922291,02/28/1998,IND:Left-hand bat:Left-arm medium-fast:,0,0,171.43,0,1,09/25/2021,2022-03-22 12:43:21.000
13086,8778783,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,5,10,...,360086,10/07/1983,WI:Right-hand bat:Right-arm medium:,0,0,50.0,0,0,10/04/2021,2022-03-22 12:43:21.000
13087,8778797,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,9,9,...,1945397,07/22/1989,NZ:Right-hand bat:Left-arm fast-medium:,0,0,100.0,1,0,10/02/2021,2022-03-22 12:43:21.000
13088,8778811,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,10,11,...,62432,06/18/1987,ENG:Left-hand bat:Right-arm offbreak:,0,0,90.91,1,0,10/10/2021,2022-03-22 12:43:21.000
13089,8778825,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,4,4,...,<NA>,None,<NA>,<NA>,<NA>,100.0,0,0,10/13/2021,2022-03-22 12:43:21.000
13091,8950710,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,2,1,1,...,<NA>,None,<NA>,<NA>,<NA>,100.0,0,0,11/17/2021,2022-03-22 12:43:21.000
13092,8950724,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,2,4,...,<NA>,None,<NA>,<NA>,<NA>,50.0,0,0,11/21/2021,2022-03-22 12:43:21.000
13083,8710729,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,1,0,2,36,21,...,<NA>,None,<NA>,0,<NA>,171.43,4,1,01/18/2021,2022-03-22 12:43:21.000
13084,8778657,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,0,5,...,5959834,12/25/1994,IND:Left-hand bat:Right-arm medium:,0,0,0.0,0,0,09/28/2021,2022-03-22 12:43:21.000
13082,8710470,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,1,0,2,1,3,...,2035102,02/19/1990,IND:Right-hand bat:Right-arm medium-fast:,0,1,33.33,0,0,01/14/2021,2022-03-22 12:43:21.000
13081,8710337,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,1,0,1,0,2,...,<NA>,None,<NA>,0,<NA>,0.0,0,0,01/12/2021,2022-03-22 12:43:21.000
13079,8703729,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,0,0,1,7,3,...,<NA>,None,<NA>,<NA>,<NA>,233.33,1,0,03/12/2021,2022-03-22 12:43:21.000
13080,8710197,AR Pl,3882850,01/20/1994,IND:Left-hand bat:Slow left-arm orthodox:,1,0,1,30,23,...,7879829,07/06/1996,IND:Left-hand bat:Left-arm medium:,0,0,130.43,5,0,01/10/2021,2022-03-22 12:43:21.000

In [ ]:
mat_data = pd.read_excel("/content/drive/MyDrive/newMatches.xlsx").convert_dtypes()
mat_data.head()

,match id,team1,team2,outcome,winner,by,win amount,player of match,toss winner,toss decision,...,inning2_runs,inning2_wickets,inning2_balls,team1_id,team1_roster_names,team1_roster_ids,team2_id,team2_roster_names,team2_roster_ids,ingestion_timestamp
0,9887856,An,Ud Ab Es,normal,An,runs,72,Rh Gz,Ud Ab Es,field,...,131,4,120,293,Hh Zi:Rh Gz:Im Zn:Ah Oi:Md Ni:Nh Zn:Km Jt:Qs A...,5554212.0:6818622.0:6450576.0:5736016.0:181404...,202,Md Wm:Kd Sh:V Ad:S Ua:Bl Hd:T Si:Ai Nr:An Al K...,8688952.0:7990828.0:8250115.0:9899140.0:846378...,2024-02-25 06:12:58
1,9433829,Ne,Le,normal,Le,wickets,6,<NA>,Le,field,...,139,4,106,8917,R Vs:EN Gy:CA Ln:DJ Wy:SA Zb:J Bd:LD Ms:AJ Te:...,4873700.0:8040164.0:2286472.0:2157770.0:464530...,8182,PD St:JC Br:SJ Ct:LS Le:DJ Ml:DJ Vs:LP Ws:RP J...,4685568.0:2162782.0:82228.0:2827327.0:2672214....,2024-02-25 06:12:58
2,9433696,Ex,He,normal,He,wickets,4,<NA>,He,field,...,212,6,120,7258,DW Le:FN Ki:MS Pr:PI Wr:DR Ss:MJ Cy:WL Bn:SR H...,4489974.0:6065548.0:5406064.0:6364588.0:578832...,7727,BR Mt:JM Ve:TE At:JJ Wy:RA Wy:JK Fr:BC Hl:LA D...,4223883.0:2076192.0:8822729.0:5241564.0:202033...,2024-02-25 06:12:58
3,9433703,Bm Bs,We,normal,Bm Bs,runs,53,<NA>,We,field,...,175,9,120,10366,RM Ys:AL Ds:GJ Ml:DR My:CG Bn:JG Bl:CR Ws:EG B...,7681869.0:3612286.0:2275195.0:8210789.0:804411...,10576,BL Da:JA Hs:MJ Sr:AJ He:Kf Ai:OB Cx:Ua Mr:EJ P...,3298427.0:7773338.0:3519011.0:3681957.0:767131...,2024-02-25 06:12:58
4,9433724,Sx,Gn,normal,Sx,runs,20,<NA>,Sx,bat,...,162,8,120,9967,HD Wd:TR Ck:OJ Cr:RS Ba:Sb Kn:MK Bs:JM Cs:FJ H...,6311612.0:7753017.0:8015734.0:74087.0:6460614....,7573,KS Cn:SA Nt:WT Se:CD Fr:CB Ce:T vn dr Gn:AG Sr...,5164844.0:1722048.0:8110185.0:3834361.0:270743...,2024-02-25 06:12:58

In [ ]:
merged_df = pd.merge(bat_fil, mat_data, on='match id')
df_2022 = merged_df[merged_df['season'] == 2022]
max_runs = df_2022['runs'].max()
print(max_runs)
df_2022.loc[df_2022['runs'] == max_runs]

100

,match id,batsman,batsman_id,batsman_dob,batsman_details,is_batsman_captain,is_batsman_keeper,inning,runs,balls_faced,...,inning2_runs,inning2_wickets,inning2_balls,team1_id,team1_roster_names,team1_roster_ids,team2_id,team2_roster_names,team2_roster_ids,ingestion_timestamp_y
1916,9167927,MG Es,3633503,04/11/1995,NAM:Right-hand bat:Right-arm offbreak:,1,0,1,100,47,...,178,3,120,209,SJ Bd:JP Ke:CG Ws:MG Es:JJ St:JN Ln:R Tn:JN Fk...,3065502.0:3793950.0:2212727.0:3633503.0:387676...,251,A Oi:S Si:K Wa:Rt Ai Sh:DM Ni:F Aa:H So:B Ma:F...,3313764.0:3719197.0:6496776.0:7906968.0:512067...,2023-02-24 19:32:10.995

In [ ]:
bat_fil.loc[bat_fil['batsman_id'] == 3882850]

Empty DataFrame
Columns: [match id, batsman, batsman_id, batsman_dob, batsman_details, is_batsman_captain, is_batsman_keeper, inning, runs, balls_faced, over_faced_first, wicket kind, out_by_bowler, out_by_fielder, bowler_id, bowler_dob, bowler_details, is_bowler_keeper, is_bowler_captain, strike_rate, Fours, Sixes, match_dt, ingestion_timestamp]
Index: []

[0 rows x 24 columns]